@{
    ViewBag.Title = "Home Page";
}
<div class='jumbotron'>
    <h1 class='jumbotron__title'>
        Super awesome
        <br>marketing speak!</h1>
    <p class='lead'>
        Cras justo odio, dapibus ac facilisis in, egestas eget quam.
        <br>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
        <br>ut fermentum massa justo sit amet risus.
    </p>
    <a class='btn btn-large btn-success' href='../login/login.html'>Sign up today</a>
</div>