@using DAL.Repository
@model List<DAL.Models.Progress>

@{
    ViewBag.Title = "List";
    Layout = null;
    string[] days = { "Mon", "Tues", "Wed", "Thurs", "Fri", "Sat" };
    var minDay = Model.Where(x => x.Date.DayOfWeek == DayOfWeek.Monday).Min(x =>x.Date);
}

<table class='table table-bordered em-schedule'>
                    <thead>
                        <tr>
                            @for (int i = 0; i < days.Count(); i++)
                            {
                                 <th>@days[i] <span>@minDay.Date.AddDays(i).ToShortDateString()</span></th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        <tr class='em-date-row'>
                            <td colspan='6'>
                                <div class='em-date-picker'>
                                    <a href='#'>
                                        <i class='icon-chevron-left pull-left'></i>
                                    </a>
                                    <span>25.02.2013 - 02.03.2013</span>
                                    <a href='#'>
                                        <i class='icon-chevron-right pull-right'></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        @for (int i = 1; i <=7; i++)
                        {
                            <tr>
                                @for (int j = 0; j < days.Count(); j++)
                                {
                                    var a = Model.FirstOrDefault(x => x.Date == minDay.Date.AddDays(j) && x.Schedule.SubjectOrder == i);
                                    if (Model.FirstOrDefault(x => x.Date == minDay.Date.AddDays(j) && x.Schedule.SubjectOrder == i) != null)
                                    {
                                        <td class='em-schedule-item'>
                                            <div class='em-title'>@a.Schedule.Subject.Name</div>
                                            <div class='em-mark'>@(a.Mark == -1 ? "absent" : a.Mark.ToString())</div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <div class='em-title'></div>
                                            <div class='em-mark'></div>
                                        </td>
                                    }
                                } 
                            </tr>
                        }
                        
                    </tbody>
                </table>
