@model ExMark.Models.StudentViewModel
@{Layout = null;}
<table class="table table-bordered">
            <thead>
                <tr>
                    <th>@Model.Student.FullName <a href='../messages/messages.html'>see profile</a></th>
                </tr>
            </thead>
            <tbody>
                <tr class='em-date-row'>
                    <td>@Model.Faculty.Title</td>
                    <td>@Model.Univercity.Title</td>
                </tr>
            </tbody>
        </table>