@model ExMark.ViewModel.ProgressEditViewModel

@{
    ViewBag.Title = "ProgressEdit";
}

<div style="float:left;">
    @{Html.RenderAction("StudentProfile", "Student", new { id = Model.Student.Id });}
</div>