<ul class='nav nav-pills pull-right'>
    @if (Request.IsAuthenticated)
    {
        <text>

        <li><span class="em-header-userinfo">Welcome, <b>@User.Identity.Name</b></span></li>
        @*<li class='active'>
            <a href='../dashboard/dashboard.html'>Dashboard</a>
        </li>
        <li>
            <a href='../messages/messages.html'>Messages <span class='badge badge-important'>3</span></a>
        </li>*@
        <li>
            <a href="@Url.Action("LogOff", "Account")">Logout</a>
        </li>

        </text>
    }
    else
    {
        <li>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    }
</ul>