<ul class='nav nav-pills pull-right'>
    @if (Request.IsAuthenticated)
    {
        <text>

        <li>Welcome, <a href='../profile/profile.html'>@User.Identity.Name</a>
        </li>
        <li class='active'>
            <a href='../dashboard/dashboard.html'>Dashboard</a>
        </li>
        <li>
            <a href='../messages/messages.html'>Messages <span class='badge badge-important'>3</span></a>
        </li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
            }
        </li>

        </text>
    }
    else
    {
        <li>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    }
</ul>