.page__title
{
    text-align: center;
}

hr.green
{
    /*height: 10px;
    background: #55a51c;*/
}

.nav li a
{
    display: inline-block;
}

.login
{
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 50px auto 50px;
    background-color: #fff;
    border: 1px solid #e5e5e5;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);    
}

.em-logoutlink {
	margin-top:5px!important;
}

.jumbotron
{
    text-align: center;
}

.jumbotron__title
{
    font-size: 72px;
    line-height: 1;
}

table.em-schedule td 
{
    background:#eee;
    text-align:center;
    width:17%;
    height:60px;
}

table.em-schedule th
{
    text-align:center;
    background:#55a51c;
    color:#fff;
}

table.em-schedule th span
{
    display:block;
    font-weight:normal!important;
}

table.em-schedule .em-date-row td
{
    background:#fff;
    height:20px;
    border-bottom:2px solid #55a51c;
}

.table.em-schedule .em-date-picker 
{
    width:400px;
    margin:0 auto;
}

.em-schedule-item 
{
    background:#fff!important;
}

.em-schedule-item .em-title 
{
    height:40px;
}

.em-schedule-item .em-mark 
{
    height:20px;
    font-weight:bold;
}

.em-logout-form {
	margin:0;
}
.em-logout-form a {
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 2px;
	margin-bottom: 2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.em-msg-indicator {
	position:relative
}
.em-msg-indicator span {
	position: absolute;
	top: -8px;
	right: -2px;
}

.em-header-userinfo {
	padding: 8px 12px;
	margin: 2px;
	display:inline-block;
}

.validation-summary-errors {
    color: red;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
	background-color: #55a51c!important;
}

.masthead {
	overflow:hidden;
}
.muted {
	float:left;
	margin-right:50px;
}
.em-main-menu {
	list-style:none;
	margin-top:90px;
}
.em-main-menu li {
	padding:0 15px;
	float:left;
}
.em-main-menu a{
	font-size:20px;
	font-family:Verdana;
}